# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/

# Environments
.venv/*
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# OS
.DS_Store
Thumbs.db

# dotenv
.env

# Database
*.db
*.sqlite3

# Folders
.old/
.pytest_cache/